# Virtual environment
.venv/

# Python
__pycache__/
*.py[cod]

# Environment variables
.env

# Uploaded/raw documents
data/raw/*
data/processed/*

# Keep folder structure
!data/raw/.gitkeep
!data/processed/.gitkeep

# Testing
.pytest_cache/

# VS Code
.vscode/